.hidden {
  display: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, Helvetica, sans-serif;
  font-size: 18px;
}

h2, p {
  margin-bottom: 30px;
}

#main-header {
  background-color: black;
  height: 100px;
}

#navbar {
  display: none;
}

/* Desktop Styles (1024px and up) */
@media (min-width: 1024px) {
  #navbar {
    padding: 50px;
    margin: 0 auto;
    display: contents;
  }
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-items li {
    padding: 20px;
    margin: 15px;
    display: inline;
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  #contact-form {
    grid-column: 8/-1;
    /* Remove as content will dictate height */
    font-size: 32px;
    color: #064970;
    align-self: center;
    height: 800px;
  }
  #contact-form h3 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  #contact-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-form input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
    font: inherit;
  }
  #contact-form input {
    font-size: 24px;
  }
  #contact-form textarea {
    font-size: 24px;
    height: 250px;
  }
  #contact-form input[type=submit] {
    width: 140px;
    padding: 16px 32px;
    background-color: #94D8FF;
    color: #fff;
    font-size: 32px;
    border: none;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #contact-form input[type=submit]:hover {
    background-color: #0E75B0;
    border-radius: 10px;
  }
}
.box-color {
  background-color: black;
  display: block;
}

.box-color2 {
  background-color: grey;
  display: block;
}