.box-color {
    background-color: black;
    display: block;
}

.box-color2 {
    background-color: grey;
    display: block;
}

#explode-view {
    width: 486px;
    height: 1000px;
}

#model-viewer {
    background-color: greenyellow;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* Desktop Styles (1024px and up) */
@media (min-width: 1024px) {
    #explode-view {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
}